h1{
    color: palegoldenrod;
    margin-left: 30px;
    
  }
   .header *{
   border: solid;
 }  
   p{
     text-align: center;
   }


    .header{ border: solid;
     background-color: lightcoral;
   display: flex;
   justify-content: space-between;

}
      .grid{display: flex;
      flex-wrap: wrap;

      justify-content: space-evenly; 
      
    }                                                            
        .footer{display: flex;
        justify-content: flex-end;
            }
    body{
     background-color: white;
    } 
.link {
margin-right: 30px;

}
.link a {
margin-left: 20px;
color: rgb(4, 79, 104);


}
.link :visited{
  color:  rgb(22, 21, 21);
}
.grid:hover img{
opacity: 0.3;


}
.grid:hover p{
  opacity: 1;
}
.grid{
  position: relative;
}
.grid p {
  position: absolute;
  top: 50%;
  left: 18;
  opacity: 0;
   
}
.item{ display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
    

  
}